{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="container">

    <div class="row">
        <div class="col-sm-4 offset-sm-4 mt-5">

<h1 class="text-center mt-5">Login</h1>
            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-group">
                    <label >Username</label>
                    <input type="text" class="form-control" name="_username" placeholder="UserName" required>
                </div>
                <div class="form-group">
                    <label >Password</label>
                    <input type="password" class="form-control" name="_password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4" style="cursor: pointer;">Login</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
